@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 210 40% 98%;
  --foreground: 222 47% 11%;
  --card: 0 0% 100%;
  --card-foreground: 222 47% 11%;
  --popover: 0 0% 100%;
  --popover-foreground: 222 47% 11%;
  --primary: 215 25% 27%;
  --primary-foreground: 210 40% 98%;
  --secondary: 213 27% 84%;
  --secondary-foreground: 222 47% 11%;
  --muted: 210 40% 96%;
  --muted-foreground: 215 25% 27%;
  --accent: 215 20% 65%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 98%;
  --border: 214 32% 91%;
  --input: 214 32% 91%;
  --ring: 215 25% 27%;
  --radius: 0.75rem;
}

.dark {
  --background: 222 47% 11%;
  --foreground: 210 40% 98%;
  --card: 224 56% 5%;
  --card-foreground: 210 40% 98%;
  --popover: 224 56% 5%;
  --popover-foreground: 210 40% 98%;
  --primary: 215 25% 27%;
  --primary-foreground: 210 40% 98%;
  --secondary: 215 20% 25%;
  --secondary-foreground: 210 40% 98%;
  --muted: 223 44% 10%;
  --muted-foreground: 215 25% 70%;
  --accent: 215 25% 35%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 72% 51%;
  --destructive-foreground: 210 40% 98%;
  --border: 217 33% 17%;
  --input: 217 33% 17%;
  --ring: 212 100% 47%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
